<section class="container-full">

  <!-- Main page -->
  <div class="row" id="full-page">
    <!-- Sidebar -->
    <div class="col-md-2">
      <div class="profile-sidebar">
        <!-- User picture -->
        <div class="profile-userpic">
          <img src="https://hemiplegic-funding.000webhostapp.com/Alexis-Duque-MyWeb/images/peril.png"
            class="img-responsive img-circle border" alt="foto">
        </div>
        <!-- Sidebar title -->
        <div class="profile-user">
          <div class="profile-name">User</div>
        </div>
        <!-- Sidebar menu -->
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true">Home</a>
          <a class="nav-link fa fa-comments" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
            role="tab" aria-controls="v-pills-profile" aria-selected="false"> Chat</a>
          <a class="nav-link fa fa-forumbee" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
            role="tab" aria-controls="v-pills-messages" aria-selected="false"> Forum</a>
          <a class="nav-link fa fa-picture-o " id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
            role="tab" aria-controls="v-pills-settings" aria-selected="false"> Foto</a>
        </div>

      </div>
    </div>

    <!-- Content -->
    <div class="col-md-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

             <h1 class="date-person"> Datos Personales </h1>
             <hr>
            
            <table class="table table-respnsive table-striped table-dark">
                <thead>
                  <tr>
                   
                    <th scope="col">Name</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>


        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <app-chat></app-chat>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
         
        <div class="container py-4" >
            <div class="row">
                <div class="col-md-5">
                  <div class="thumbnail">
                      <img src="https://www.redaccionmedica.com/images/destacados/-cuanto-cuesta-un-minuto-de-trabajo-de-un-cirujano--9386_620x368.jpg" alt="Lights" style="width:100%">
                      <div class="caption">
                        <p> <strong> Cuanto cuesta un minuto de trabajo de un cirujano?</strong></p>
                      </div>
                    
                  </div>
                </div>
                <div class="col-md-7">
                    <div class="thumbnail">
                    
                        <div class="caption ">
                            <p class="text-justify">Un minuto de trabajo de un cirujano supone un desembolso medio de 8 euros, según el estudio Understanding Costs of Care in the Operating Room. En total, una intervención puede llegar a costar entre 20 y 30 euros, una cifra que se divide entre los costes directos, que suelen representar entre 17 y 18 euros, y los indirectos, que acostumbran a ser más bajos y se quedan entre 11 y 13 euros.

                                “Los suministros necesarios para la operación representan entre 2 y 3 euros, el salario del cirujano y del equipo que lo asiste puede ser de unos 8 euros por minuto, los beneficios suelen alcanzar los 3 euros y otros conceptos derivados de la intervención suponen la menor parte y pueden sumar a la factura unos 2 euros”, ha asegurado David Geffen, autor principal del estudio, en referencia a los costes que estiman que cuesta cada minuto de una operación rutinaria.
                                
                                Asimismo, tampoco se deben descartar los gastos indirectos que suponen para el paciente, el seguro o el sistema sanitario que está pagando por la operación, que pueden ser de entre 11 y 13 euros. Se debe tener en cuenta que detrás hay un servicio de lavandería y limpieza que pone a punto el quirófano, un equipo de seguridad y más allá, también se contabilizan los costes del párking.
                                
                               </p>
                        </div>
                    
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
        </div>
      </div>

    </div>
  </div>

</section>