.container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 280px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    
    .login_btn{
        color: black;
        background-color: #dc3545;
        width: 100px;
        }
        
        .login_btn:hover{
        color: black;
        background-color: white;
        }